body {
  background-color: #f8f8f8;
}

.tile {
  border: .5px solid black;
  width: 400px;
  height: 20vh;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: white;
}

.tile .tile_image {
  float: left;
  margin: 7px 20px 0px 10px;
  border-radius: 400px;
}

li {
  padding-bottom: 25px;
}

hr {
  margin: 50px 0px;
}